body{
    background-image: url("./Images/dairy-cattle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    background-image: url(/assets/images/caroline-gunderson-s0lkbvtN9K8-unsplash.jpg);
    margin: 50px;
    }
    :root {
        --color-dark--2: #42484d;
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .hidden {
        display: none;
      }
      .reports_hidden{
        font-size: 20px;
      }
      .reports {
        border-radius: 5px;
        padding: 50px;
        color: rgb(44, 15, 15);
      }
     .container{
        display: flex;
        background-color: #42484d;
        opacity: 80%;
        margin: 250px;
        width: 350px;
        border-radius: 10px;
        padding: 70px;
     }
     .form__input{
         height: 25px;
         width: 150px;
         font-size: 15px;
         border-radius: 10px;
         padding: 10px;
    
     }
     .form__label{
        font-size: 25px;
     }
     button{
         margin-top: 50px;
        height: 40px;
        width: 100px;
        background: #2b6d1e;
        border-radius: 10px;
        position:relative;
     }
     
      .report--daily {
        background-image: linear-gradient(to top left, #1c2a46, #6fa79a);
        opacity: 70%;
      }
      
      .report--weekly {
        background-image: linear-gradient(to top left, #39b385, #62237a);
        opacity: 70%;
      }
      
      .report--monthly {
        background-image: linear-gradient(to top left, #2b6d1e, #c5656a);
        opacity: 70%;
      }
      .report--yearly {
          background-image: linear-gradient(to top left, #e67490, #4e2123);
          opacity: 70%;
        }
      .report {
        background-color: var(--color-dark--2);
        border-radius: 15px;
        padding: 1.5rem 2.25rem;
        margin-bottom: 1.75rem;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.75rem 1.5rem;
      }
