body{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: rgb(221, 228, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    background-image: url(../images/highquality.webp);
    
    
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 0px 10px rgb(150, 179, 169);
    background-color: rgb(16, 57, 65);
    color: white;
    height: 60px;
    margin-top: 0px;
    
    
    
}
.milkProduce{
    display: flex;
    width: 80%;
    margin: 0px auto;
    justify-content: center;
    opacity: 85%;
    
    
}

.formData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 40px;
    box-shadow: 0px 0px 10px rgb(150, 179, 169);
    border-radius: 4px;
    font-size: 16px;
    margin-left: 50px;
    background-color: rgb(20, 60, 68);
       
}

.formData   #sheds{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin-top: 20px;
    
}

.formData > form{
    width: 80%;
    padding: 25px;
}

form > div > input[type="number"]{
    height: 30px;
    width: 145px;
     
}

form > button {
    
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    
}

form > button[type = "submit"]{
    margin-top: 20px;
}
form > button[type = "submit"], form > button[type = "reset"]{
    background: none;
    color: white;
    border: 1px solid white;
} 

.outputDisplay{
    overflow: auto;
    width: 50%;
    box-shadow:0px 0px 10px rgb(150, 179, 169);
    background-color: rgb(16, 57, 65);
    border-radius: 4px;
    font-size: 16px;
    height: 550px;
    margin-left: 100px;
    background-color: rgb(20, 60, 68);
}

#displayTitle{
    text-align: center;
}

#outputData{
    padding: 0px 20px;
}

@media screen and (max-width: 760px) {
    .milkProduce{
        display: flex;
        flex-direction: column;  
    }

    .formData {
        width: 100%;
        margin-bottom: 20px; 
    }

    .outputDisplay{
        width: 100%;
       
    }
    
}